---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title='Frameworks de CSS'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto">
            <h1 class="text-3xl font-bold text-center text-purple-800 mb-6">Frameworks de CSS</h1>
    
            <div class="border border-gray-200 rounded-lg p-4 mt-8">
                <h2 class="text-xl font-bold text-purple-800 mb-4">Bootstrap</h2>
                <p class="text-gray-700 leading-relaxed">Bootstrap es uno de los frameworks CSS más conocidos y utilizados en la industria. Desarrollado por Twitter, ofrece una amplia gama de componentes, como botones, formularios, barras de navegación y mucho más. Su diseño adaptable y la posibilidad de personalización lo convierten en una elección preferida para desarrolladores y diseñadores.</p>
            </div>
            
            <div class="border border-gray-200 rounded-lg p-4 mt-8">
                <h2 class="text-xl font-bold text-purple-800 mb-4">Foundation</h2>
                <p class="text-gray-700 leading-relaxed">Foundation es otro framework CSS muy popular que se centra en la creación de diseños móviles y responsive. Ofrece una amplia variedad de opciones de diseño y componentes que facilitan la construcción de sitios web modernos y atractivos.</p>
            </div>

            <div class="border border-gray-200 rounded-lg p-4 mt-8">
                <h2 class="text-xl font-bold text-purple-800 mb-4">Bulma</h2>
                <p class="text-gray-700 leading-relaxed">Bulma es un framework CSS ligero y fácil de usar basado en flexbox. Es perfecto para aquellos que buscan un diseño simple y limpio sin comprometer la funcionalidad. Bulma proporciona una estructura de cuadrícula flexible y componentes sencillos que facilitan la creación de diseños atractivos.</p>
            </div>

            <div class="border border-gray-200 rounded-lg p-4 mt-8">
                <h2 class="text-xl font-bold text-purple-800 mb-4">Tailwind CSS</h2>
                <p class="text-gray-700 leading-relaxed">Tailwind CSS se diferencia de otros frameworks al proporcionar utilidades de clases de bajo nivel que se pueden combinar para construir diseños personalizados. Esto permite una flexibilidad y agilidad excepcionales en el diseño de interfaces de usuario.</p>
            </div>

            <div class="border border-gray-200 rounded-lg p-4 mt-8">
                <h2 class="text-xl font-bold text-purple-800 mb-4">Materialize</h2>
                <p class="text-gray-700 leading-relaxed">Materialize es un framework CSS basado en el lenguaje de diseño Material Design de Google. Ofrece un conjunto de componentes y estilos coherentes que siguen las pautas de diseño de Google. Esto facilita la creación de interfaces de usuario modernas y atractivas.</p>
            </div>

            <div class="border border-gray-200 rounded-lg p-4 mt-8">
                <h2 class="text-xl font-bold text-purple-800 mb-4">Semantic UI</h2>
                <p class="text-gray-700 leading-relaxed">Semantic UI es conocido por su enfoque semántico en la creación de componentes y diseños. Utiliza un lenguaje claro y natural para describir la intención de cada elemento, lo que facilita la comprensión y modificación del código.</p>
            </div>

            <div class="border border-gray-200 rounded-lg p-4 mt-8">
                <h2 class="text-xl font-bold text-purple-800 mb-4">UIKit</h2>
                <p class="text-gray-700 leading-relaxed">UIKit es un framework CSS diseñado para crear interfaces de usuario web elegantes y modernas. Ofrece una amplia gama de componentes y estilos listos para usar que permiten la creación de diseños visualmente atractivos.</p>
            </div>

            <div class="border border-gray-200 rounded-lg p-4 mt-8">
                <h2 class="text-xl font-bold text-purple-800 mb-4">Spectre.css</h2>
                <p class="text-gray-700 leading-relaxed">Spectre.css es un framework CSS liviano que se enfoca en proporcionar estilos esenciales para la creación rápida de interfaces de usuario. Es conocido por su simplicidad y facilidad de uso, lo que lo convierte en una excelente opción para proyectos pequeños y rápidos.</p>
            </div>

            <div class="border border-gray-200 rounded-lg p-4 mt-8">
                <h2 class="text-xl font-bold text-purple-800 mb-4">BUEFY</h2>
                <p class="text-gray-700 leading-relaxed">BUEFY es una implementación de Bulma para el framework JavaScript Vue.js. Combina la simplicidad de Bulma con la potencia de Vue.js, lo que lo convierte en una opción popular para desarrolladores que trabajan en aplicaciones Vue.js.</p>
            </div>

            <div class="border border-gray-200 rounded-lg p-4 mt-8">
                <h2 class="text-xl font-bold text-purple-800 mb-4">Material Foundation</h2>
                <p class="text-gray-700 leading-relaxed">Material Foundation es un framework CSS que te permite construir webs y apps responsives.</p>
            </div>
            
            <a class="text-purple-800 text-3xl font-bold text-center hover:text-purple-400 block mt-8" href="/frontend/javascript">JavaScript...</a>
        </div>
    </div>
</Layout>