---
import Layout from '../../../layouts/Layout.astro';
---

<Layout title='Posicionamiento'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto">
            <h1 class="text-3xl font-bold text-center text-purple-800 mb-10">Posicionamiento en CSS</h1>
    
            <div class="border border-gray-200 rounded-lg p-4 mt-6">
                <h2 class="text-xl font-bold text-purple-800">Posicionamiento Estático (static)</h2>
                <p class="text-gray-700">Es el valor por defecto.</p>
                <p class="text-gray-700">El elemento se coloca de acuerdo al flujo normal del documento.</p>
                <p class="text-gray-700">Las propiedades top, right, bottom y left no tienen efecto.</p>
            </div>
            
            <div class="border border-gray-200 rounded-lg p-4 mt-6">
                <h2 class="text-xl font-bold text-purple-800">Posicionamiento Relativo (relative)</h2>
                <p class="text-gray-700">El elemento se coloca relativo al flujo normal.</p>
                <p class="text-gray-700">Puedes usar las propiedades top, right, bottom y left para especificar desplazamientos verticales y horizontales desde su posición original.</p>
            </div>
            
            <div class="border border-gray-200 rounded-lg p-4 mt-6">
                <h2 class="text-xl font-bold text-purple-800">Posicionamiento Absoluto (absolute)</h2>
                <p class="text-gray-700">El elemento se coloca respecto a su contenedor posicionado más cercano.</p>
                <p class="text-gray-700">Las propiedades top, right, bottom y left especifican el desplazamiento desde los bordes del bloque contenedor.</p>
                <p class="text-gray-700">Si el elemento tiene márgenes, estos se suman al desplazamiento.</p>
                <p class="text-gray-700">Además, el elemento establece un nuevo contexto de formato de bloque para su contenido.</p>
            </div>
            
            <div class="border border-gray-200 rounded-lg p-4 mt-6">
                <h2 class="text-xl font-bold text-purple-800">Posicionamiento Fijo (fixed)</h2>
                <p class="text-gray-700">El elemento se coloca respecto al viewport (la ventana del navegador).</p>
                <p class="text-gray-700">Es útil para elementos que deben permanecer en una posición específica incluso al hacer scroll.</p>
            </div>
            
            <div class="border border-gray-200 rounded-lg p-4 mt-6">
                <h2 class="text-xl font-bold text-purple-800">Posicionamiento Pegajoso (sticky)</h2>
                <p class="text-gray-700">Es una combinación entre relative y fixed.</p>
                <p class="text-gray-700">El elemento se comporta como relative hasta que su bloque contenedor cruza un límite establecido.</p>
                <p class="text-gray-700">Luego, se vuelve “fijo” hasta que alcance el borde opuesto de su bloque contenedor.</p>
            </div>
            
            <p class="text-gray-700 text-lg mt-6">El posicionamiento en CSS te permite controlar la ubicación de los elementos en tu diseño web. ¡Experimenta con estas propiedades y crea diseños atractivos!</p>
            
            <a class="text-purple-800 text-3xl font-bold text-center hover:text-purple-400 block mt-6" href="/frontend/css/display">Display...</a>
        </div>
    </div>
</Layout>