---
import Layout from '../../../layouts/Layout.astro';
---
<Layout title='Entender qué es CSS'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800 mb-10">Entender qué es CSS</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué es CSS?</h2>
            <p class="text-xl text-center text-gray-700">CSS, o Hojas de Estilo en Cascada, es un lenguaje de hojas de estilo utilizado para describir la apariencia y el formato de un documento escrito en HTML. CSS se utiliza para controlar el estilo y el diseño de múltiples páginas a la vez.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Importancia de CSS</h2>
            <p class="text-xl text-center text-gray-700">CSS es importante porque permite a los desarrolladores controlar la apariencia de todo su sitio web a la vez. También mejora la accesibilidad y proporciona una mejor experiencia de usuario.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Uso correcto de CSS</h2>
            <p class="text-xl text-center text-gray-700">Es importante usar CSS de manera correcta y coherente en un sitio web. CSS debe ser utilizado para mejorar la usabilidad y la accesibilidad del sitio, y para proporcionar una experiencia de usuario consistente en todas las páginas.</p>
            
            <a class="text-purple-800 text-3xl font-bold text-center hover:text-purple-400" href="/frontend/css/modelo-de-caja">El modelo de caja (Box model)...</a>
        </div>
    </div>
</Layout>

