---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='CSS'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800">Introducción a CSS</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué es CSS?</h2>
            <p class="text-xl text-center text-gray-700">CSS, o Hojas de Estilo en Cascada, es un lenguaje de hoja de estilo utilizado para describir la apariencia de un documento escrito en HTML o XML. CSS describe cómo los elementos deben ser renderizados en pantalla, en papel, en voz o en otros medios.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Importancia de aprender CSS</h2>
            <p class="text-xl text-center text-gray-700">CSS es uno de los tres lenguajes fundamentales que todos los desarrolladores web deben aprender: 1. HTML para definir el contenido de las páginas web, 2. CSS para especificar la presentación de las páginas web y 3. JavaScript para programar el comportamiento de las páginas web.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Cómo funciona CSS?</h2>
            <p class="text-xl text-center text-gray-700">CSS se utiliza para controlar el estilo y el diseño de múltiples páginas a la vez. Las hojas de estilo en cascada consisten en

            <p class="text-xl text-center text-gray-700">CSS se utiliza para controlar el estilo y el diseño de múltiples páginas a la vez. Las hojas de estilo en cascada consisten en "reglas", donde cada regla o regla consiste en uno o más selectores y un bloque de declaración. Los selectores determinan qué elementos en el documento HTML se van a estilizar. Las declaraciones, que se encuentran entre llaves, están compuestas por propiedades y valores.</p>
                        
            <h2 class="text-2xl font-bold text-center text-purple-800">¡Empecemos!</h2>
            <p class="text-xl text-center text-gray-700">Sin más que agregar, esperamos que estés emocionado por comenzar a aprender CSS. ¡Estamos emocionados de tenerte con nosotros!</p>
            <a class="text-purple-800 text-2xl font-bold text-center hover:text-purple-400" href="/frontend/javascript">JavaScript...</a>
        </div>
    </div>
</Layout>

<style>
</style>
