---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Git'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800">Introducción a Git</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué es Git?</h2>
            <p class="text-xl text-center text-gray-700">Git es un sistema de control de versiones distribuido, gratuito y de código abierto diseñado para manejar todo, desde proyectos pequeños hasta muy grandes, con velocidad y eficiencia.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Importancia de aprender Git</h2>
            <p class="text-xl text-center text-gray-700">Aprender Git es fundamental para cualquier desarrollador. Git te permite rastrear los cambios que haces en tu código, colaborar de manera más efectiva con otros desarrolladores y prevenir problemas al combinar el trabajo de diferentes fuentes.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Cómo funciona Git?</h2>
            <p class="text-xl text-center text-gray-700">Git rastrea los cambios que haces en tu código y te permite volver a cualquier versión anterior de tu código. También te permite crear ramas para probar nuevas características o ideas, y luego fusionar esas ramas de nuevo en tu rama principal cuando estás listo.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¡Empecemos!</h2>
            <p class="text-xl text-center text-gray-700">Sin más que agregar, esperamos que estés emocionado por comenzar a aprender Git. ¡Estamos emocionados de tenerte con nosotros!</p>
            <a class="text-purple-800 text-3xl font-bold text-center hover:text-purple-400
            " href="/frontend/npm">NPM...</a>
        </div>
    </div>
</Layout>

<style>
</style>
