---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='HTML'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800">Introducción a HTML</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué es HTML?</h2>
            <p class="text-xl text-center text-gray-700">HTML, o Lenguaje de Marcas de Hipertexto, es el lenguaje de marcado estándar para documentos diseñados para ser mostrados en un navegador web. Es uno de los pilares fundamentales del desarrollo web y se utiliza para estructurar contenido en la web.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Importancia de aprender HTML</h2>
            <p class="text-xl text-center text-gray-700">Aprender HTML es el primer paso para convertirse en un desarrollador web. No solo es fácil de aprender, sino que también es esencial para cualquier carrera en desarrollo web. Ya sea que quieras crear un sitio web personal, convertirte en un desarrollador web profesional, o simplemente entender cómo funcionan los sitios web, el conocimiento de HTML es fundamental.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Cómo funciona HTML?</h2>
            <p class="text-xl text-center text-gray-700">HTML es un lenguaje de marcado, lo que significa que se utiliza para "marcar" el texto en un documento con etiquetas que indican su estructura. Estas etiquetas indican al navegador cómo debe presentar el texto al usuario. Por ejemplo, puedes usar HTML para indicar que una parte del texto es un encabezado, otra parte es un párrafo, etc.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¡Empecemos!</h2>
            <p class="text-xl text-center text-gray-700">Sin más que agregar, esperamos que estés emocionado por comenzar a aprender HTML. ¡Estamos emocionados de tenerte con nosotros!</p>
            <a class="text-purple-800 text-2xl font-bold text-center hover:text-purple-400" href="/frontend/css">CSS...</a>
        </div>
    </div>
</Layout>

<style>
</style>
