---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Internet'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800">Introducción al Internet</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué es el Internet?</h2>
            <p class="text-xl text-center text-gray-700">Internet es una red global de computadoras que se comunican entre sí mediante protocolos de red. Permite el intercambio de información y la comunicación entre usuarios de todo el mundo.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Importancia de entender el Internet</h2>
            <p class="text-xl text-center text-gray-700">Entender cómo funciona Internet es fundamental en la era digital actual. Nos permite navegar por la web, enviar correos electrónicos, realizar transacciones bancarias, ver videos, jugar en línea y mucho más.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Cómo funciona el Internet?</h2>
            <p class="text-xl text-center text-gray-700">Internet funciona mediante la conexión de redes de computadoras a través de routers. Cuando envías un correo electrónico o buscas algo en la web, la información se divide en paquetes que viajan a través de una serie de routers hasta llegar a su destino.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¡Empecemos!</h2>
            <p class="text-xl text-center text-gray-700">Sin más que agregar, esperamos que estés emocionado por comenzar a aprender sobre Internet. ¡Estamos emocionados de tenerte con nosotros!</p>
            <a class="text-purple-800 text-2xl font-bold text-center hover:text-purple-400" href="/frontend/html">HTML...</a>
        </div>
    </div>
</Layout>

<style>
</style>
