---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Internet'>
    <div class="container mx-auto px-6 md:px-0">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800">Introducción al Internet</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué es el Internet?</h2>
            <p class="text-xl text-center text-gray-700">Internet, también conocido como la red mundial, es un sistema global de redes de computadoras interconectadas que utilizan el protocolo de internet (TCP/IP) para enlazar dispositivos en todo el mundo. Es una red de redes que consiste en millones de redes privadas, públicas, académicas, de negocios y de gobierno, locales y globales, todas interconectadas por un amplio conjunto de tecnologías de conmutación electrónica.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Quién creó el Internet?</h2>
            <p class="text-xl text-center text-gray-700">Internet fue desarrollado en los Estados Unidos por la Agencia de Proyectos de Investigación Avanzados de Defensa (DARPA) en los años 60. El primer prototipo de la red, conocido como ARPANET, fue creado por un equipo de ingenieros y científicos bajo la dirección de Robert E. Kahn y Vinton Cerf.</p>

            <h2 class="text-2xl font-bold text-center text-purple-800">Importancia de entender el Internet</h2>
            <p class="text-xl text-center text-gray-700">Entender cómo funciona Internet es fundamental en la era digital actual. Nos permite navegar por la web, enviar correos electrónicos, realizar transacciones bancarias, ver videos, jugar en línea y mucho más. Además, con un conocimiento sólido de Internet, puedes desarrollar habilidades para proteger tu privacidad en línea, entender cómo se recopila y utiliza la información en línea, y tomar decisiones informadas sobre el uso de tecnología.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Cómo funciona el Internet?</h2>
            <p class="text-xl text-center text-gray-700">Internet funciona mediante la conexión de redes de computadoras a través de routers. Cuando envías un correo electrónico o buscas algo en la web, la información se divide en paquetes que viajan a través de una serie de routers hasta llegar a su destino. Cada paquete de datos se envía de forma independiente y puede seguir diferentes rutas para llegar a su destino, donde se vuelven a ensamblar.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¡Empecemos!</h2>
            <p class="text-xl text-center text-gray-700">Ahora que tienes una comprensión básica de lo que es Internet y cómo funciona, estás listo para comenzar a explorar más a fondo. ¡Estamos emocionados de tenerte con nosotros en este viaje de aprendizaje!</p>
            <a class="text-purple-800 text-3xl font-bold text-center hover:text-purple-400" href="/frontend/html">HTML...</a>
        </div>
    </div>
</Layout>
