---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='JavaScript'>
    <div class="container mx-auto p-6">
        <div class="md:w-3/4 lg:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800">Introducción a JavaScript</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué es JavaScript?</h2>
            <p class="text-xl text-center text-gray-700">JavaScript es un lenguaje de programación ampliamente utilizado en el desarrollo web. Permite agregar interactividad y funcionalidad a las páginas web. Desde la validación de formularios hasta la creación de aplicaciones web complejas, JavaScript es esencial en el mundo del desarrollo web.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Importancia de aprender JavaScript</h2>
            <p class="text-xl text-center text-gray-700">JavaScript es uno de los pilares fundamentales para cualquier desarrollador web. Junto con HTML y CSS, forma la tríada básica del desarrollo web. Aprender JavaScript te permite crear sitios web dinámicos y atractivos, lo que mejora la experiencia del usuario y amplía tus habilidades como desarrollador.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Cómo funciona JavaScript?</h2>
            <p class="text-xl text-center text-gray-700">JavaScript se ejecuta en el navegador del cliente, lo que significa que se ejecuta en la computadora del usuario, no en el servidor, a diferencia de otros lenguajes como PHP o C#. Esto permite una interacción rápida y receptiva con la página web, lo que mejora la experiencia del usuario.</p>
            <h2 class="text-2xl font-bold text-center text-purple-800">Temas de JavaScript</h2>
            <ul class="list-none text-xl text-center gap-3 font-bold">
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/variables-tipos-datos">Variables y tipos de datos</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/operadores-expresiones">Operadores y expresiones</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/estructuras-control">Estructuras de control</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/bucles">Bucles</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/funciones">Funciones</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/alcance-variables">Alcance de las variables</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/objetos-propiedades">Objetos y propiedades</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/metodos-objetos">Métodos de objetos</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/arrays-metodos">Arrays y sus métodos</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/strings-metodos">Strings y sus métodos</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/operador-propagacion">Operador de propagación</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/desestructuracion">Desestructuración</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/arrow-functions">Arrow functions</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/funciones-orden-superior">Funciones de orden superior</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/closures">Closures</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/promesas-async-await">Promesas y async/await</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/fetch-api">Fetch API</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/manipulacion-dom">Manipulación del DOM (Document Object Model)</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/eventos-eventlisteners">Eventos y EventListeners</a></li>
            </ul>
            <a class="text-purple-800 text-3xl font-bold text-center hover:text-purple-400" href="/frontend/git">Git...</a>
        </div>
    </div>
</Layout>

<style>
</style>