---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='JavaScript'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800">Introducción a JavaScript</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué es JavaScript?</h2>
            <p class="text-xl text-center text-gray-700">JavaScript es un lenguaje de programación que permite implementar funciones complejas en páginas web. Cada vez que una página web hace algo más que simplemente sentarse allí y mostrar información estática para que la veas, muestra oportunas actualizaciones de contenido, mapas interactivos, animación de gráficos 2D/3D, desplazamiento de máquinas reproductoras de video, etc., puedes apostar que probablemente JavaScript está involucrado.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Importancia de aprender JavaScript</h2>
            <p class="text-xl text-center text-gray-700">JavaScript es uno de los tres lenguajes que todos los desarrolladores web deben aprender: 1. HTML para definir el contenido de las páginas web, 2. CSS para especificar la presentación de las páginas web y 3. JavaScript para programar el comportamiento de las páginas web.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Cómo funciona JavaScript?</h2>
            <p class="text-xl text-center text-gray-700">JavaScript se ejecuta en el navegador del cliente, lo que significa que se ejecuta en la computadora del usuario, no en el servidor, a diferencia de PHP o C#, por ejemplo. Esto tiene algunas ventajas. Por ejemplo, si tienes un trabajo que requiere mucho tiempo de procesamiento, hacerlo en el servidor puede llevar mucho tiempo y recursos. Pero si puedes hacer que el cliente haga el trabajo en su máquina, eso liberará tus recursos para otras cosas.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¡Empecemos!</h2>
            <p class="text-xl text-center text-gray-700">Sin más que agregar, esperamos que estés emocionado por comenzar a aprender JavaScript. ¡Estamos emocionados de tenerte con nosotros!</p>
            <a class="text-purple-800 text-2xl font-bold text-center hover:text-purple-400" href="/frontend/git">GIT...</a>
        </div>
    </div>
</Layout>

<style>
</style>
