---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='JavaScript'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800">Introducción a JavaScript</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué es JavaScript?</h2>
            <p class="text-xl text-center text-gray-700">JavaScript es un lenguaje de programación que permite implementar funciones complejas en páginas web. Cada vez que una página web hace algo más que simplemente sentarse allí y mostrar información estática para que la veas, muestra oportunas actualizaciones de contenido, mapas interactivos, animación de gráficos 2D/3D, desplazamiento de máquinas reproductoras de video, etc., puedes apostar que probablemente JavaScript está involucrado.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Importancia de aprender JavaScript</h2>
            <p class="text-xl text-center text-gray-700">JavaScript es uno de los tres lenguajes que todos los desarrolladores web deben aprender: 1. HTML para definir el contenido de las páginas web, 2. CSS para especificar la presentación de las páginas web y 3. JavaScript para programar el comportamiento de las páginas web.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Cómo funciona JavaScript?</h2>
            <p class="text-xl text-center text-gray-700">JavaScript se ejecuta en el navegador del cliente, lo que significa que se ejecuta en la computadora del usuario, no en el servidor, a diferencia de PHP o C#, por ejemplo. Esto tiene algunas ventajas. Por ejemplo, si tienes un trabajo que requiere mucho tiempo de procesamiento, hacerlo en el servidor puede llevar mucho tiempo y recursos. Pero si puedes hacer que el cliente haga el trabajo en su máquina, eso liberará tus recursos para otras cosas.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Temas de JavaScript</h2>
            <ul class="list-none pl-5 text-xl flex flex-col text-center gap-3 font-bold">
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/variables-tipos-datos">Variables y tipos de datos</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/operadores-expresiones">Operadores y expresiones</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/estructuras-control">Estructuras de control</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/bucles">Bucles</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/funciones">Funciones</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/alcance-variables">Alcance de las variables</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/objetos-propiedades">Objetos y propiedades</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/metodos-objetos">Métodos de objetos</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/arrays-metodos">Arrays y sus métodos</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/strings-metodos">Strings y sus métodos</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/operador-propagacion">Operador de propagación</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/desestructuracion">Desestructuración</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/arrow-functions">Arrow functions</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/funciones-orden-superior">Funciones de orden superior</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/closures">Closures</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/promesas-async-await">Promesas y async/await</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/fetch-api">Fetch API</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/manipulacion-dom">Manipulación del DOM</a></li>
                <li><a class="text-purple-800 hover:text-purple-400" href="/frontend/javascript/eventos-eventlisteners">Eventos y EventListeners</a></li>
            </ul>
            <a class="text-purple-800 text-3xl font-bold text-center hover:text-purple-400" href="/frontend/css">CSS...</a>
        </div>
    </div>
</Layout>

<style>
</style>