---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='NPM'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800">Introducción a NPM</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué es NPM?</h2>
            <p class="text-xl text-center text-gray-700">NPM, que significa Node Package Manager, es un sistema de gestión de paquetes para el entorno de ejecución de JavaScript Node.js. Se utiliza para instalar y administrar paquetes de software en Node.js.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Importancia de entender NPM</h2>
            <p class="text-xl text-center text-gray-700">Entender cómo funciona NPM es fundamental para cualquier desarrollador de JavaScript. NPM permite a los desarrolladores compartir y reutilizar código, y hace que sea fácil actualizar el código que estás compartiendo.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Cómo funciona NPM?</h2>
            <p class="text-xl text-center text-gray-700">NPM funciona descargando paquetes de software desde el registro de NPM a tu máquina local. Puedes luego importar y usar estos paquetes en tu código. NPM también te permite publicar tus propios paquetes para que otros puedan utilizarlos.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¡Empecemos!</h2>
            <p class="text-xl text-center text-gray-700">Sin más que agregar, esperamos que estés emocionado por comenzar a aprender sobre NPM. ¡Estamos emocionados de tenerte con nosotros!</p>
        </div>
    </div>
</Layout>

<style>
</style>
