---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='React'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800">Introducción a React</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué es React?</h2>
            <p class="text-xl text-center text-gray-700">React es una biblioteca de JavaScript para construir interfaces de usuario. Es mantenido por Facebook y una comunidad de desarrolladores y empresas individuales. React puede ser utilizado como base en el desarrollo de aplicaciones de una sola página o móviles.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Importancia de aprender React</h2>
            <p class="text-xl text-center text-gray-700">React permite a los desarrolladores crear aplicaciones web grandes que pueden cambiar datos, sin recargar la página. El objetivo principal de React es ser rápido, escalable y simple. Funciona solo en la interfaz de usuario en la aplicación, lo que significa que la aplicación de React se puede usar en cualquier contexto de la API.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Cómo funciona React?</h2>
            <p class="text-xl text-center text-gray-700">React crea una copia en memoria del árbol de la interfaz de usuario, calcula las diferencias resultantes de las transacciones del usuario y actualiza eficientemente la interfaz de usuario del navegador. Esto permite al programador escribir código como si toda la página se volviera a cargar en cada cambio, mientras que la biblioteca React solo renderiza los componentes subyacentes que realmente cambian.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¡Empecemos!</h2>
            <p class="text-xl text-center text-gray-700">Sin más que agregar, esperamos que estés emocionado por comenzar a aprender React. ¡Estamos emocionados de tenerte con nosotros!</p>
            <a class="text-purple-800 text-2xl font-bold text-center hover:text-purple-400" href="/frontend/vite">Vite...</a>
        </div>
    </div>
</Layout>

<style>
</style>
