---
import Layout from '../../layouts/Layout.astro';
---

<Layout title='Vite'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800">Introducción a Vite</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué es Vite?</h2>
            <p class="text-xl text-center text-gray-700">Vite es una herramienta de desarrollo web moderna que proporciona un entorno de desarrollo más rápido y eficiente. Fue creado por Evan You, el creador de Vue.js, y está diseñado para ser ligero y extremadamente rápido en términos de arranque en frío, actualizaciones en caliente y compilación para producción.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Importancia de entender Vite</h2>
            <p class="text-xl text-center text-gray-700">Entender cómo funciona Vite es fundamental para cualquier desarrollador web moderno. Vite mejora la eficiencia del desarrollo al proporcionar actualizaciones en caliente extremadamente rápidas y un tiempo de arranque en frío casi instantáneo.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Cómo funciona Vite?</h2>
            <p class="text-xl text-center text-gray-700">Vite proporciona un servidor de desarrollo que ofrece módulos ES nativos en el navegador mediante HTTP/2. Durante la etapa de producción, Vite utiliza Rollup para agrupar tu código, lo que resulta en un rendimiento de compilación y entrega de código altamente optimizado.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¡Empecemos!</h2>
            <p class="text-xl text-center text-gray-700">Sin más que agregar, esperamos que estés emocionado por comenzar a aprender sobre Vite. ¡Estamos emocionados de tenerte con nosotros!</p>
        </div>
    </div>
</Layout>

<style>
</style>
