---
import Layout from '../../../layouts/Layout.astro';
---
<Layout title='Alojar activos en los sitios'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800 mb-10">Alojar activos en los sitios</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué son los activos en un sitio web?</h2>
            <p class="text-xl text-center text-gray-700">Los activos de un sitio web son todos los archivos que se necesitan para que el sitio funcione correctamente. Esto incluye archivos HTML, hojas de estilo CSS, scripts de JavaScript, imágenes, videos, fuentes y cualquier otro tipo de archivo que se utilice en el sitio web.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Cómo alojar activos en un sitio web?</h2>
            <p class="text-xl text-center text-gray-700">Para alojar activos en un sitio web, primero debes subir los archivos a tu servidor web. Esto se puede hacer a través de FTP, SSH, o utilizando el panel de control de tu proveedor de hosting. Una vez que los archivos están en tu servidor, puedes referenciarlos en tu código HTML utilizando la ruta correcta.</p>
            
            <a class="text-purple-800 text-3xl font-bold text-center hover:text-purple-400" href="/frontend/html/inspeccionar-los-sitios">Inspeccionar los sitios y conocer cómo están construidos</a>
        </div>
    </div>
</Layout>