---
import Layout from '../../../layouts/Layout.astro';
---
<Layout title='Comandos de HTML para el tipo de letra'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800">Comandos de HTML para el tipo de letra</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué son los comandos de HTML para el tipo de letra?</h2>
            <p class="text-xl text-center text-gray-700">Los comandos de HTML para el tipo de letra son etiquetas que nos permiten cambiar el tipo de letra, el tamaño, el color y el estilo del texto en una página web. Estos comandos incluyen etiquetas como &lt;font&gt;, &lt;b&gt;, &lt;i&gt;, &lt;u&gt;, &lt;small&gt;, &lt;big&gt;, &lt;sup&gt;, &lt;sub&gt;, entre otros.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Ejemplo de cómo cambiar el tipo de letra con HTML</h2>
            <pre class="text-lg text-left text-gray-700 bg-zinc-300 text-wrap rounded pt-6 px-5 h-auto">
&lt;p&gt;Este es un texto normal.&lt;/p&gt;
&lt;p&gt;&lt;b&gt;Este es un texto en negrita.&lt;/b&gt;&lt;/p&gt;
&lt;p&gt;&lt;i&gt;Este es un texto en cursiva.&lt;/i&gt;&lt;/p&gt;
&lt;p&gt;&lt;u&gt;Este es un texto subrayado.&lt;/u&gt;&lt;/p&gt;
&lt;p&gt;&lt;small&gt;Este es un texto pequeño.&lt;/small&gt;&lt;/p&gt;
&lt;p&gt;&lt;big&gt;Este es un texto grande.&lt;/big&gt;&lt;/p&gt;
&lt;p&gt;Este es un texto con &lt;sup&gt;superíndice&lt;/sup&gt; y &lt;sub&gt;subíndice&lt;/sub&gt;.&lt;/p&gt;
            </pre>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Importancia de los comandos de HTML para el tipo de letra</h2>
            <p class="text-xl text-center text-gray-700">Los comandos de HTML para el tipo de letra son esenciales para mejorar la legibilidad y la apariencia de un sitio web. Permiten destacar ciertas partes del texto, hacer que el texto sea más atractivo y ayudar a los usuarios a entender mejor el contenido. Además, estos comandos pueden mejorar la accesibilidad del sitio web, ya que permiten cambiar el tamaño del texto para facilitar la lectura a los usuarios con discapacidades visuales.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Uso correcto de los comandos de HTML para el tipo de letra</h2>
            <p class="text-xl text-center text-gray-700">Es importante usar los comandos de HTML para el tipo de letra de manera correcta y coherente en un documento. Cada comando debe ser utilizado para su propósito específico y no debe ser utilizado de manera incorrecta o abusiva. Además, es esencial cerrar correctamente todos los comandos para evitar errores de sintaxis y asegurar que la página se muestre correctamente en todos los navegadores.</p>
            
            <a class="text-purple-800 text-3xl font-bold text-center hover:text-purple-400" href="/frontend/html/resaltar-y-marcar-parrafos">Resaltar y marcar párrafos</a>
        </div>
    </div>
</Layout>