---
import Layout from '../../../layouts/Layout.astro';
---
<Layout title='Construir sitios personalizados que codifiques tú mismo'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800 mb-10">Construir sitios personalizados que codifiques tú mismo</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Por qué construir sitios personalizados?</h2>
            <p class="text-xl text-center text-gray-700">Construir sitios personalizados te permite tener un control total sobre la apariencia y funcionalidad de tu sitio web. Puedes crear una experiencia única para tus usuarios y asegurarte de que tu sitio web se destaque de la competencia.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Cómo construir un sitio personalizado?</h2>
            <p class="text-xl text-center text-gray-700">Para construir un sitio personalizado, necesitarás aprender algunos lenguajes de programación web, como HTML, CSS y JavaScript. HTML se utiliza para estructurar el contenido de la página, CSS se utiliza para estilizar la página y JavaScript se utiliza para agregar interactividad a la página.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Consejos para construir sitios personalizados</h2>
            <p class="text-xl text-center text-gray-700">Aquí hay algunos consejos para construir sitios personalizados:
            - Planifica tu sitio web antes de empezar a codificar. Haz un boceto de cómo quieres que se vea y funcione tu sitio web.
            - Asegúrate de que tu sitio web sea accesible para todos los usuarios, incluyendo aquellos con discapacidades.
            - Optimiza tu sitio web para motores de búsqueda para aumentar su visibilidad.
            - Prueba tu sitio web en diferentes navegadores y dispositivos para asegurarte de que funciona correctamente en todos ellos.
            - Mantén tu código limpio y organizado para facilitar su mantenimiento y comprensión.</p>
            
            <a class="text-purple-800 text-3xl font-bold text-center hover:text-purple-400" href="/frontend/html/alojar-activos-en-los-sitios">Alojar activos en los sitios</a>
        </div>
    </div>
</Layout>