---
import Layout from '../../../layouts/Layout.astro';
---
<Layout title='Creación de Listas en HTML'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800 mb-10">Creación de Listas en HTML</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué es una lista HTML?</h2>
            <p class="text-xl text-center text-gray-700">Una lista HTML es una forma de organizar datos en un formato ordenado o desordenado. Se definen con las etiquetas &lt;ol&gt; para listas ordenadas, &lt;ul&gt; para listas desordenadas y &lt;li&gt; para elementos de la lista. Las listas ordenadas se utilizan cuando el orden de los elementos es importante, mientras que las listas desordenadas se utilizan cuando el orden no es relevante.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Importancia de las listas en HTML</h2>
            <p class="text-xl text-center text-gray-700">Las listas son importantes porque permiten presentar información de manera estructurada y fácil de leer. También son útiles para el SEO, ya que los motores de búsqueda utilizan las listas para entender e indexar el contenido de las páginas web. Además, las listas mejoran la accesibilidad del sitio web, ya que los lectores de pantalla pueden leer las listas de manera eficiente a los usuarios con discapacidades visuales.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Uso correcto de las listas</h2>
            <p class="text-xl text-center text-gray-700">Es importante usar las listas de manera correcta y coherente en una página web. Las listas deben ser claras y cada elemento de la lista debe ser relevante para el tema de la lista. Además, es recomendable utilizar las listas anidadas de manera adecuada para representar la jerarquía de la información. Evita hacer listas demasiado largas, ya que pueden ser difíciles de seguir para el usuario.</p>
            
            <a class="text-purple-800 text-3xl font-bold text-center hover:text-purple-400" href="/frontend/html/tags-html-para-estructura-basica">Tags HTML para la estructura básica de un documento...</a>
        </div>
    </div>
</Layout>