---
import Layout from '../../../layouts/Layout.astro';
---
<Layout title='HTML no es un lenguaje de programación'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800 mb-10">HTML no es un lenguaje de programación</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Definición de HTML</h2>
            <p class="text-xl text-center text-gray-700">HTML, que significa Lenguaje de Marcas de Hipertexto (HyperText Markup Language), es el lenguaje de marcado estándar para crear páginas web y aplicaciones web. Con HTML, los autores describen la estructura de las páginas web utilizando marcado.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Por qué HTML no es un lenguaje de programación?</h2>
            <p class="text-xl text-center text-gray-700">HTML no es un lenguaje de programación porque no tiene la capacidad de realizar cálculos o tomar decisiones lógicas. No puede realizar operaciones como bucles, condicionales o funciones, que son características fundamentales de los lenguajes de programación.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué es un lenguaje de programación?</h2>
            <p class="text-xl text-center text-gray-700">Un lenguaje de programación es un lenguaje formal que proporciona un conjunto de instrucciones que permiten a los programadores escribir secuencias de comandos, algoritmos, etc., que son ejecutados por una máquina, en particular una computadora.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">HTML en el desarrollo web</h2>
            <p class="text-xl text-center text-gray-700">Aunque HTML no es un lenguaje de programación, juega un papel crucial en el desarrollo web. Se utiliza para definir la estructura y el contenido de una página web, mientras que otros lenguajes como CSS y JavaScript se utilizan para estilizar y agregar interactividad a la página web, respectivamente.</p>
            
            <a class="text-purple-800 text-3xl font-bold text-center hover:text-purple-400" href="/frontend/html/anatomia-de-un-elemento-html">Anatomía de un elemento HTML...</a>
        </div>
    </div>
</Layout>