---
import Layout from '../../../layouts/Layout.astro';
---
<Layout title='Incrustar enlaces en HTML'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800 mb-10">Incrustar enlaces en HTML</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué son los enlaces en HTML?</h2>
            <p class="text-xl text-center text-gray-700">Los enlaces en HTML, también conocidos como hipervínculos, son una parte fundamental de la web. Permiten a los usuarios navegar entre páginas y sitios web. Se crean utilizando la etiqueta &lt;a&gt; y el atributo href.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Ejemplo de cómo incrustar un enlace en HTML</h2>
            <pre class="text-lg text-left text-gray-700 bg-zinc-300 text-wrap rounded pt-6 px-5 h-auto">
&lt;!DOCTYPE html&gt;
&lt;html lang="es"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;title&gt;Título de la página&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;a href="https://www.ejemplo.com"&gt;Visita nuestro sitio web&lt;/a&gt;
&lt;/body&gt;
&lt;/html&gt;
            </pre>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Importancia de los enlaces en HTML</h2>
            <p class="text-xl text-center text-gray-700">Los enlaces en HTML son esenciales para la navegación y la estructura de la web. Permiten a los usuarios moverse de una página a otra y de un sitio a otro. Además, los enlaces son fundamentales para la accesibilidad, ya que permiten a los usuarios con discapacidades navegar por la web utilizando lectores de pantalla.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Uso correcto de los enlaces en HTML</h2>
            <p class="text-xl text-center text-gray-700">Es importante usar los enlaces en HTML de manera correcta y coherente en un documento. Cada enlace debe tener un atributo href válido y un texto descriptivo que indique a dónde lleva el enlace. Además, es recomendable utilizar el atributo target="_blank" para abrir los enlaces en una nueva pestaña y mejorar la experiencia del usuario.</p>
            
            <a class="text-purple-800 text-3xl font-bold text-center hover:text-purple-400" href="/frontend/html/construir-sitios-personalizados">Construir sitios personalizados que codifiques tú mismo</a>
        </div>
    </div>
</Layout>