---
import Layout from '../../../layouts/Layout.astro';
---
<Layout title='Inspeccionar los sitios y conocer cómo están construidos'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800 mb-10">Inspeccionar los sitios y conocer cómo están construidos</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Cómo inspeccionar un sitio web?</h2>
            <p class="text-xl text-center text-gray-700">Puedes inspeccionar un sitio web utilizando las herramientas de desarrollo de tu navegador. Estas herramientas te permiten ver el código HTML, CSS y JavaScript del sitio, así como los recursos de red, el almacenamiento local, y mucho más. Para abrir las herramientas de desarrollo, simplemente haz clic derecho en cualquier parte de la página y selecciona "Inspeccionar" o "Inspeccionar elemento".</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Cómo conocer cómo está construido un sitio web?</h2>
            <p class="text-xl text-center text-gray-700">Al inspeccionar un sitio web, puedes ver qué tecnologías se están utilizando. Por ejemplo, puedes ver si un sitio está utilizando jQuery o React en la pestaña de recursos de red. También puedes ver qué hojas de estilo y scripts se están cargando, y puedes inspeccionar los elementos individuales para ver cómo están estilizados. Además, existen herramientas en línea que te permiten ver qué tecnologías se utilizan en un sitio web específico.</p>
            
            <a class="text-purple-800 text-3xl font-bold text-center hover:text-purple-400" href="/frontend/css">CSS</a>
        </div>
    </div>
</Layout>