---
import Layout from '../../../layouts/Layout.astro';
---
<Layout title='Partes Detalladas de una Página Web'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col">
            <h1 class="text-3xl font-bold text-center text-purple-800 mb-6">Partes Detalladas de una Página Web</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800 mb-6">Cabecera (Header)</h2>
            <p class="text-xl text-center text-gray-700 mb-6">La cabecera de una página web normalmente contiene el logotipo del sitio y la navegación principal. Esta sección es creada con la etiqueta HTML `<header>`.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800 mb-6">Navegación (Navigation)</h2>
            <p class="text-xl text-center text-gray-700 mb-6">La navegación es una parte crucial de una página web. Ayuda a los usuarios a moverse por la página y encontrar la información que necesitan. Normalmente se encuentra en la cabecera de la página y se crea con la etiqueta HTML `<nav>`.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800 mb-6">Cuerpo (Body)</h2>
            <p class="text-xl text-center text-gray-700 mb-6">El cuerpo de una página web contiene el contenido principal del sitio. Esta sección es creada con la etiqueta HTML `<body>`.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800 mb-6">Contenido Principal (Main)</h2>
            <p class="text-xl text-center text-gray-700 mb-6">El contenido principal de una página web es el área donde se coloca el contenido más importante. Esta sección es creada con la etiqueta HTML `<main>`.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800 mb-6">Artículos (Articles)</h2>
            <p class="text-xl text-center text-gray-700 mb-6">Los artículos son secciones de contenido que pueden existir independientemente de otras partes de la página web. Estas secciones son creadas con la etiqueta HTML `<article>`.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800 mb-6">Secciones (Sections)</h2>
            <p class="text-xl text-center text-gray-700 mb-6">Las secciones son áreas de contenido relacionado. Estas secciones son creadas con la etiqueta HTML `<section>`.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800 mb-6">Pie de Página (Footer)</h2>
            <p class="text-xl text-center text-gray-700 mb-6">El pie de página de una página web normalmente contiene información como los detalles de contacto, enlaces a políticas de privacidad y términos de servicio, y derechos de autor. Esta sección es creada con la etiqueta HTML `<footer>`.</p>
            
            <a class="text-purple-800 text-3xl mt-6 font-bold text-center hover:text-purple-400" href="/frontend/html/uso-de-titulos-en-html">Uso de títulos en HTML...</a>
        </div>
    </div>
</Layout>
