---
import Layout from '../../../layouts/Layout.astro';
---
<Layout title='¿Qué es HTML?'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800 mb-10">¿Qué es HTML?</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Definición de HTML</h2>
            <p class="text-xl text-center text-gray-700">HTML, que significa Lenguaje de Marcas de Hipertexto (HyperText Markup Language), es el lenguaje de marcado estándar para crear páginas web y aplicaciones web. Con HTML, los autores describen la estructura de las páginas web utilizando marcado.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Componentes de HTML</h2>
            <p class="text-xl text-center text-gray-700">HTML consta de una serie de elementos, que utilizas para encerrar, envolver o marcar partes de contenido para hacerlo aparecer o actuar de cierta manera. Los elementos de HTML están representados por etiquetas.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Historia de HTML</h2>
            <p class="text-xl text-center text-gray-700">HTML fue creado por Tim Berners-Lee en 1989, mientras trabajaba en CERN. La idea era hacer que la información sea accesible y comprensible, no solo para los científicos, sino también para el público en general.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Importancia de HTML</h2>
            <p class="text-xl text-center text-gray-700">HTML es uno de los componentes fundamentales de la web. Es esencial para el diseño web y desarrollo web, SEO, y para la accesibilidad web. Sin HTML, las páginas web no podrían existir.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">HTML y otros lenguajes de programación</h2>
            <p class="text-xl text-center text-gray-700">HTML no es un lenguaje de programación, es un lenguaje de marcado. Se utiliza para estructurar contenido en la web. Otros lenguajes como CSS y JavaScript se utilizan junto con HTML para diseñar el aspecto de la página web y agregar interactividad, respectivamente.</p>
            
            <a class="text-purple-800 text-3xl font-bold text-center hover:text-purple-400" href="/frontend/html/html-no-es-un-lenguaje-de-programacion">HTML no es un lenguaje de programación...</a>
        </div>
    </div>
</Layout>