---
import Layout from '../../../layouts/Layout.astro';
---
<Layout title='Resaltar y marcar párrafos'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800 mb-10">Resaltar y marcar párrafos</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué significa resaltar y marcar párrafos en HTML?</h2>
            <p class="text-xl text-center text-gray-700">Resaltar y marcar párrafos en HTML se refiere al uso de etiquetas específicas para dar énfasis a ciertas partes del texto. Las etiquetas &lt;mark&gt; y &lt;strong&gt; son comúnmente utilizadas para este propósito.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Ejemplo de cómo resaltar y marcar párrafos con HTML</h2>
            <pre class="text-lg text-left text-gray-700 bg-zinc-300 text-wrap rounded pt-6 px-5 h-auto">
&lt;p&gt;Este es un &lt;mark&gt;texto resaltado&lt;/mark&gt; y este es un &lt;strong&gt;texto marcado&lt;/strong&gt;.&lt;/p&gt;
            </pre>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Otras formas de resaltar y marcar párrafos en HTML</h2>
            <pre class="text-lg text-left text-gray-700 bg-zinc-300 text-wrap rounded pt-6 px-5 h-auto">
&lt;p&gt;Este es un &lt;em&gt;texto enfatizado&lt;/em&gt;.&lt;/p&gt;
&lt;p&gt;Este es un &lt;b&gt;texto en negrita&lt;/b&gt;.&lt;/p&gt;
&lt;p&gt;Este es un &lt;i&gt;texto en cursiva&lt;/i&gt;.&lt;/p&gt;
&lt;p&gt;Este es un &lt;u&gt;texto subrayado&lt;/u&gt;.&lt;/p&gt;
&lt;p&gt;Este es un &lt;small&gt;texto pequeño&lt;/small&gt;.&lt;/p&gt;
&lt;p&gt;Este es un &lt;big&gt;texto grande&lt;/big&gt;.&lt;/p&gt;
&lt;p&gt;Este es un texto con &lt;sup&gt;superíndice&lt;/sup&gt; y &lt;sub&gt;subíndice&lt;/sub&gt;.&lt;/p&gt;
            </pre>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Importancia de resaltar y marcar párrafos en HTML</h2>
            <p class="text-xl text-center text-gray-700">Resaltar y marcar párrafos en HTML es importante para mejorar la legibilidad y la comprensión del contenido. Permite destacar ciertas partes del texto, lo que puede ayudar a los usuarios a entender mejor el mensaje que se quiere transmitir. Además, estas etiquetas pueden mejorar la accesibilidad del sitio web, ya que los lectores de pantalla pueden interpretar estas etiquetas y presentar la información de una manera que sea accesible para los usuarios con discapacidades visuales.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Uso correcto de las etiquetas para resaltar y marcar párrafos</h2>
            <p class="text-xl text-center text-gray-700">Es importante usar las etiquetas para resaltar y marcar párrafos de manera correcta y coherente en un documento. Cada etiqueta debe ser utilizada para su propósito específico y no debe ser utilizada de manera incorrecta o abusiva. Además, es esencial cerrar correctamente todas las etiquetas para evitar errores de sintaxis y asegurar que la página se muestre correctamente en todos los navegadores.</p>
            
            <a class="text-purple-800 text-3xl font-bold text-center hover:text-purple-400" href="/frontend/html/crear-tablas-y-listas-con-tags-html">Crear tablas y listas con tags HTML...</a>
        </div>
    </div>
</Layout>