---
import Layout from '../../../layouts/Layout.astro';
---
<Layout title='Tags HTML para ordenar una web'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800 mb-10">Tags HTML para ordenar una web</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué son los tags HTML para ordenar una web?</h2>
            <p class="text-xl text-center text-gray-700">Los tags HTML para ordenar una web son etiquetas que nos permiten estructurar y organizar el contenido de una página web de manera lógica y semántica. Estos tags incluyen etiquetas como &lt;header&gt;, &lt;nav&gt;, &lt;main&gt;, &lt;section&gt;, &lt;article&gt;, &lt;aside&gt; y &lt;footer&gt;.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Ejemplo de cómo ordenar una web con tags HTML</h2>
            <pre class="text-lg text-left text-gray-700 bg-zinc-300 text-wrap rounded pt-6 px-5 h-auto">
&lt;!DOCTYPE html&gt;
&lt;html lang="es"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;title&gt;Título de la página&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;header&gt;
        &lt;nav&gt;
            &lt;!-- Aquí va el menú de navegación --&gt;
        &lt;/nav&gt;
    &lt;/header&gt;
    &lt;main&gt;
        &lt;section&gt;
            &lt;h1&gt;Este es el título de una sección&lt;/h1&gt;
            &lt;p&gt;Este es el contenido de la sección.&lt;/p&gt;
        &lt;/section&gt;
        &lt;aside&gt;
            &lt;!-- Aquí va el contenido secundario, como una barra lateral --&gt;
        &lt;/aside&gt;
    &lt;/main&gt;
    &lt;footer&gt;
        &lt;p&gt;Este es el pie de página.&lt;/p&gt;
    &lt;/footer&gt;
&lt;/body&gt;
&lt;/html&gt;
            </pre>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Importancia de los tags HTML para ordenar una web</h2>
            <p class="text-xl text-center text-gray-700">Los tags HTML para ordenar una web son esenciales para la estructura de un documento porque definen la jerarquía y el orden del contenido. Los motores de búsqueda utilizan estos tags para indexar el contenido de la página y determinar su relevancia para las consultas de búsqueda. Además, estos tags mejoran la accesibilidad del sitio web, ya que los lectores de pantalla pueden interpretar estos tags y presentar la información de una manera que sea accesible para los usuarios con discapacidades visuales.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Uso correcto de los tags HTML para ordenar una web</h2>
            <p class="text-xl text-center text-gray-700">Es importante usar los tags HTML para ordenar una web de manera correcta y coherente en un documento. Cada tag debe ser utilizado para su propósito específico y no debe ser utilizado de manera incorrecta o abusiva. Además, es esencial cerrar correctamente todos los tags para evitar errores de sintaxis y asegurar que la página se muestre correctamente en todos los navegadores.</p>
            
            <a class="text-purple-800 text-3xl font-bold text-center hover:text-purple-400" href="/frontend/html/comandos-html-para-tipo-de-letra">Comandos de HTML para el tipo de letra.</a>
        </div>
    </div>
</Layout>