---
import Layout from '../../../layouts/Layout.astro';
---
<Layout title='Uso de Elementos HTML'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800 mb-10">Uso de Elementos HTML</h1>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">¿Qué es un elemento HTML?</h2>
            <p class="text-xl text-center text-gray-700">Un elemento HTML es una parte individual de una página web o documento web. Los elementos HTML se representan en el código utilizando etiquetas de apertura y cierre.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Tipos de elementos HTML</h2>
            <p class="text-xl text-center text-gray-700">Existen muchos tipos de elementos HTML, como `div`, `span`, `a`, `img`, `script`, y muchos otros. Cada uno tiene un propósito específico y ayuda a definir la estructura y el contenido de la página web.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Elementos anidados</h2>
            <p class="text-xl text-center text-gray-700">Los elementos HTML pueden anidarse dentro de otros elementos. Un elemento que está dentro de otro se conoce como elemento hijo. El elemento que contiene a otros se conoce como elemento padre.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Elementos de bloque vs elementos en línea</h2>
            <p class="text-xl text-center text-gray-700">Los elementos de bloque ocupan todo el ancho disponible y siempre comienzan en una nueva línea. Los elementos en línea solo ocupan el espacio necesario y no comienzan en una nueva línea.</p>
            
            <h2 class="text-2xl font-bold text-center text-purple-800">Elementos vacíos</h2>
            <p class="text-xl text-center text-gray-700">Los elementos vacíos son aquellos que no tienen contenido ni elementos hijos. Por ejemplo, el elemento `br` para un salto de línea es un elemento vacío.</p>
            
            <a class="text-purple-800 text-3xl font-bold text-center hover:text-purple-400" href="/frontend/html/uso-de-atributos-en-html">Uso de Atributos en HTML...</a>
        </div>
    </div>
</Layout>
