---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Nosotros'>
    <div class="container mx-auto p-6">
        <div class="md:w-1/2 p-2 m-auto flex flex-col gap-6">
            <h1 class="text-3xl font-bold text-center text-purple-800">Nosotros</h1>
            <p class="text-xl text-center text-gray-700">¡Bienvenido a nuestra sección de 'Nosotros'! Somos parte de un proyecto más grande llamado "CodingFlash", una organización sin fines de lucro donde estudiantes y entusiastas de la tecnología tienen sus primeras experiencias en un entorno lo más cercano posible al laboral.</p>
            
            <p class="text-xl text-center text-gray-700">Nuestra filosofía prioriza el trabajo por iniciativa propia en el proyecto que más te interese. Todos los proyectos que manejamos son sin ánimo de lucro, esencialmente diseñados para ganar experiencia. También serán bienvenidos los proyectos que quieras proponer. Entendemos que posiblemente estés trabajando, estudiando o ambas cosas a la vez. Por eso, contemplamos que cada uno puede aportar al proyecto en sus tiempos libres. La idea es avanzar todos los días, mucho o poco, pero siempre avanzar.</p>
            
            <p class="text-xl text-center text-gray-700">Otro pilar fundamental es terminar los proyectos. No sirven 15 proyectos comenzados y ninguno terminado. Por eso, los proyectos tienen que ser realistas. Cada propuesta será evaluada por el equipo y puesta en marcha mientras podamos encararla.</p>
            
            <p class="text-xl text-center text-gray-700">Sin más que agregar, esperamos que estés emocionado por comenzar. ¡Estamos emocionados de tenerte con nosotros!</p>
        </div>
    </div>
</Layout>

<style>
</style>
