---
---

<div class="container m-auto w-auto flex lg:flex-row flex-col gap-4 items-center justify-center">
    <a class="lg:text-3xl text-xl font-bold text-center hover:text-white hover:bg-purple-800 transition-colors duration-200 rounded-md lg:px-3 lg:py-1" href="/">Home</a>
    <a class="lg:text-3xl text-xl font-bold text-center hover:text-white hover:bg-purple-800 transition-colors duration-200 rounded-md lg:px-3 lg:py-1" href="/desarrollo-web">Desarrollo web</a>
    <a class="lg:text-3xl text-xl font-bold text-center hover:text-white hover:bg-purple-800 transition-colors duration-200 rounded-md lg:px-3 lg:py-1" href="/nosotros">Nosotros</a>
</div>

