---
---

<div class=" container m-auto flex flex-row gap-4 items-center justify-center">
    <a class="text-3xl font-bold text-center text-purple-800" href="/">Home</a>
    <a class="text-3xl font-bold text-center text-purple-800" href="/desarrollo-web">Desarrollo web</a>
    <a class="text-3xl font-bold text-center text-purple-800" href="/nosotros">Nosotros</a>
</div>