---
import Header from '../components/Header.astro';
import { ViewTransitions } from "astro:transitions";


interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="MillaExtra es tu recurso definitivo para el aprendizaje del desarrollo web. Aquí, no solo aprendes, sino que te desafías a ti mismo, vas más allá de los límites y das ese paso extra para convertirte en un desarrollador web competente." />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="icon" type="image/svg+xml" href="https://images.emojiterra.com/google/android-nougat/512px/1f6e3.png" />
		<ViewTransitions />

		<meta name="generator" content="MillaExtra" />
		<title>{title}</title>
	</head>
	<body class="bg-yellow-200 m-auto mt-20 mb-10 container flex flex-col gap-20">
		<Header></Header>
		<hr class="border-t-2 border-purple-800 mx-auto w-3/4">

		<slot />
	</body>
</html>
<style is:global>

::-webkit-scrollbar {
    width: 0px;  
    height: 0px; 
}


body {
    overflow-y: scroll;
}

</style>
